.wpce-edit-focus-modal {
	max-width: 500px;

	.wpce-edit-focus-examples {
		list-style-type: disc;
		padding-inline-start: 1.5rem;
	}

	.wpce-edit-focus-submit {
		margin-top: 1.5em;
		float: right;
	}
}
